<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Coaches</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coachlist.css') }}">
</head>
<body>

<div class="mt-4 mx-3">
    <h1>List of Coaches</h1> <hr> <br>

    <!-- Coaches Table -->
    <table class="table-striped">
        <thead>
            <tr>
                <th>Coach ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialization</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for coach in coaches %}
                <tr>
                    <td>{{ coach.user_id }}</td>
                    <td>{{ coach.username }}</td>
                    <td>{{ coach.email }}</td>
                    <td>{{ coach.first_name }}</td>
                    <td>{{ coach.last_name }}</td>
                    <td>{{ coach.specialization }}</td>
                    <td>{{ coach.phone }}</td>
                    <td>
                    <a href="{{ url_for('admin.edit_coach_profile', user_id=coach.user_id) }}" class="btn btn-secondary">Edit Coach</a>
                    <td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
</div>

</body>
</html>
